.product__wrapper {

    display: flex;
    align-items: center;
    padding: 1rem;

    &__img {
        height: 100px;
    }

    &__product-name {
        margin-right: 10px;
    }

    &__add-to-cart-btn {
        border: none;
        padding: 0.5rem 0.6rem;
        border-radius: 7px;
        font-weight: bold;
        margin-left: 10px;
        background: #4a4a4a;
        color: #fff;
        cursor: pointer;
        text-transform: capitalize;

        &--clr {
            background: red;
        }
    }

    &__minicart__link {
        color: #292727;
        text-decoration: none;
        position: absolute;
        right: 50px;
        top: 35px;
    }

    &__cart {
        font-size: 1.5em;
    }

    &__quantity {
        background-color: #00a1e0;
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        line-height: normal;
        text-align: center;
        font-size: .8125em;
        font-weight: bold;
        position: relative;
        top: -42px;
        left: 18px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}